@media screen and (min-width : 1024px){
    /* .header {
        position: fixed;
        width : 140px;
        height : 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top : 140px;
        box-sizing: border-box;
        z-index: 100;
        top : 0;
        left : 0;
    } 
    
    .header > h1 {
        font-family: bi;
        font-size: 2rem;
    }
    
    .header .h_box {
        display: flex;
        flex-direction: column;
        margin-top : 30px;
    }
    
    .header .h_box > input {
        width : 130px;
        height : 30px;
        margin-bottom : 20px;
        border: 0;
        background-color: black;
        color :rgba(255, 255, 255, 0.5);
        font-size: 1.1rem;
        font-family: bi;
        cursor: pointer;
        transition: all .25s;
    }
    
    .header .h_box > input:hover {
        color : rgba(255, 255, 255, 0.8)
    }
    
    .header .h_box > input.h_E {
        color : #fff;
        background: linear-gradient(to right, #CCAACB 5%, black 5%);
    }
    
    .header .h_box > input.h_E:hover {
        color : #fff;
    }*/
}

@media screen and (max-width : 1023px){
    /* .header {
        position: fixed;
        width : 100%;
        height : 80px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        top : 0;
        left : 0;
        transition: transform 0.25s;
    }

    .header.h_E {
        transform: translateY(-50%);
    } 
    
    .header > h1 {
        font-family: bi;
        font-size: 1.5rem;
        width : 100%;
        height : 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header .h_box {
        display: flex;
        width : 100%;
        height : 40px;
        align-items: center;
        justify-content: center;
        gap: 0 20px;
    }
    
    .header .h_box > input {
        width : 100px;
        height : 25px;
        border: 0;
        background-color: black;
        color :rgba(255, 255, 255, 0.5);
        font-size: 0.9rem;
        font-family: bi;
        cursor: pointer;
        transition: all .25s;
    } 
    
    .header .h_box > input:hover {
        color : rgba(255, 255, 255, 0.8)
    }
    
    .header .h_box > input.h_E {
        color : #fff;
        background: linear-gradient(to right, #CCAACB 5%, black 5%);
    }
    
    .header .h_box > input.h_E:hover {
        color : #fff;
    }*/
}
