$pc_width : 1024px;
$hw_pc : 140px;
$hw_m : 80px;
$cw_pc : 280px;
$ch_pc : 320px;

@mixin mobile {
    @media screen and (max-width : $pc_width - 1px){
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width : 1500px){
        @content;
    }
}

@mixin landscape {
    @media screen and (max-height : 500px) and (orientation: landscape) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width : $pc_width){
        @content;
    }
}

@mixin size(
    $w : null,
    $h : null,
) {
    width : $w;
    height : $h;
};

@mixin flex(
    $d : flex,
    $a : null,
    $j : null,
    $fd : null,
    $gx : null,
    $gy : null
) {
    display : $d;
    align-items: $a;
    justify-content: $j;
    flex-direction: $fd;
    flex-wrap : wrap;
    gap : $gy $gx;
}

@mixin padding(
    $t : null,
    $b : null,
    $l : null,
    $r : null,
    $all : null
){
    padding : $all;
    padding : {
        top : $t;
        bottom : $b;
        left : $l;
        right : $r;
    }
    box-sizing: border-box;
}

@mixin pos(
    $p : null,
    $t : null,
    $b : null,
    $l : null,
    $r : null,
    $trX : 0,
    $trY : 0,
    $tr : null,
) {
    position: $p;
    top : $t;
    bottom : $b;
    left : $l;
    right : $r;
    @if ($trX != 0 or $trY != 0) {
        transform: translate($trX, $trY) $tr;
    }
}

@mixin margin(
    $t : null,
    $b : null,
    $l : null,
    $r : null,
    $all : null
){
    margin : $all;
    margin : {
        top : $t;
        bottom : $b;
        left : $l;
        right : $r;
    }
}

@mixin border(
    $px : 0,
    $color : black,
    $t : 0,
    $b : 0,
    $r : 0,
    $l : 0,
    $rad : null,
) {
    @if ($px > 0) {
        border : $px solid $color;
    }@else{
        border : 0;
    }

    @if($t > 0){border-top : $t solid $color;}
    @if($b > 0){border-bottom : $b solid $color;}
    @if($l > 0){border-left : $l solid $color;}
    @if($r > 0){border-right : $r solid $color;}
    border-radius: $rad;
    @if($px > 0 or $t > 0 or $b > 0 or $l > 0 or $r > 0) {
        box-sizing: border-box;
    }
}

@mixin font(
    $s : null,
    $f : null,
    $lh : null,
    $w : null,
    $c : null,
    $ca : 1.0,
) {
    font : {
        size : $s;
        family : $f;
        weight : $w;
    }
    line-height: $lh;
    @if($c != null) {
        color : rgba($color: $c, $alpha: $ca);
    }
}