@media screen and (max-width:1024px) {

    .wrap {
        position: relative;
        width : 100%; 
    }

    /* header */
    header {
        width : 100%;
        position: fixed;
        z-index : 3;
        box-sizing: border-box;
        /* transform: translateY(-100%); */
        transition: all 1.5s;
        background-color: #fff;
    }

    header .h_box {
        position: relative;
        width : 100%;
        height : 8vh;
        margin : 0 auto;
        padding : 0 3%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
    }

    header .h_box .logo {
        /* width : 6%; */
        width : auto;
        height : 100%;
        display: flex;
        align-items: center;
    }

    header .h_box .logo .lg_logo {
        position: absolute;
        width: 56px;
        height: 25px;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        background-image: url(img/img_group2.png);
        background-position: -76px -201px;
        background-size: 379px 340px;
    }

    header .h_box .menu {
        position: absolute;
        width : 42%;
        height : 100%;
        display: flex;
        left : 50%;
        transform: translateX(-50%);
        display: none;
    }

    header .h_box .menu .h_ol {
        width : calc(100% / 5);
        height : 100%;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    header .h_box .menu .h_ol.h_olE {
        font-weight: 700;
        color : #A50034;
    }


    header .h_box .language {
        width : 9%;
        display: flex;
        align-items: center;
    }
    
    header .h_box .language .lang_l {
        position: relative;
        top : 0;
        width : 55%;
        height : 42px;
        display: none;
    }

    header .h_box .language .lang_l::after {
        position: absolute;
        content : "";
        width : 0.5px;
        height : 25px;
        background-color: #555;
        top : 50%;
        right : 0;
        transform: translateY(-50%);
    }

    header .h_box .language .lang_l .lang_kor {
        position: absolute;
        width : 100%;
        height : 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left : 10px;
        box-sizing: border-box;
    }

    header .h_box .language .lang_l .lang_kor > input {
        border : 0;
        background-color: rgba(0, 0, 0, 0);
        font-size: 0.95rem;
        font-weight: 600;
    }

    header .h_box .language .lang_kor > span{
        width : 12px;
        height : 8px;
        background-image: url(img/img_group.png);
        background-position: -191px -388px;
    }

    header .h_box .language .lang_l .lang_box {
        position: absolute;
        top : 0;
        left : 0;
        width : 100%;
        height : 0%;
        background-color: #fff;
        visibility: hidden;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left : 10px;
        box-sizing: border-box;
        border: 1px solid #555;
        transition: all 0.5s;
    }

    header .h_box .language .lang_l .lang_box > input {
        border : 0;
        background-color: rgba(0, 0, 0, 0);
        font-size: 0.95rem;
        font-weight: 600;
    }

    header .h_box .language .lang_l .lang_box span {
        width : 12px;
        height : 8px;
        background-image: url(img/img_group.png);
        background-position: -191px -388px;
        transform: rotate(180deg);
    }



    header .h_box .language .lang_r {
        position: relative;
        width : 100%;
        height : 60px;  
        display: flex;
        justify-content: center;
        align-items: center;
    }



    header .h_box .language .lang_r > .item {
        width : 32px;
        height : 28px;
        background-image: url(img/img_group.png);
        background-position: -232px -156px;
        background-size: 461px 445px;
    }
    header .bar {
        width : 100%;
        height : 5vh;
        background-color: #EEEEEE;
        display: none;
    }

    header .bar .m_ol {
        position: relative; 
        width : 38%;
        height : 100%;
        margin : 0 auto;
    }




    header .bar .m_ol .m_ul {
        position: absolute;
        width : 100%;
        height : 100%;
        display: flex;
        visibility: hidden;
        align-items: center;
        gap : 0 36px;
        font-weight: 400;
    }

    header .bar .m_ol .m_ul:hover {
        visibility: visible;
    }
    header .bar .m_ol .m_ul .m_li {
        position: relative;
        line-height: 5vh;
        cursor: pointer;
        color : #555;
    }

    header .bar .m_ol .m_ul .m_li::before {
        content : "";
        position: absolute;
        width : 0%;
        height : 2px;
        background-color: #A50034;
        bottom : 0;
        left : 50%;
        transform: translateX(-50%);
        transition: all 0.25s;
    }

    header .bar .m_ol .m_ul .m_li:hover {
        color : #A50034;
    }

    header .bar .m_ol .m_ul .m_li:hover::before {
        width : 100%;
    }

    header .ham {
        position: relative;
        width : 23px;
        height : 20px;
    }
    
    header .ham > span {
        position: absolute;
        display : block;
        width : 100%;
        height : 2px;
        background-color: #555;
    }

    header .ham > span:nth-child(2) {
        top : 50%;
        transform: translateY(-50%);
    }

    header .ham > span:nth-child(3) {
        bottom : 0;
    }

    .menu_box {
        position: fixed;
        top : 0;
        left : 0;
        /* position: fixed; */
        width : 100%;
        min-height : 100vh;
        background-color: red;
        z-index: 10;
        display : none;
        overflow: scroll;
    }
    
    .menu_box .m_box {
        position: absolute;
        width : 100%;
        min-height: 100vh;
        background-color: #fff;
    }

    .menu_box .m_box .m_header {
        position: relative;
        width : 100%;
        height : 6vh;
    }

    .menu_box .m_box .m_header .m_h_event {
        position: absolute;
        width : 30%;
        max-width : 140px;
        height : 100%;
        right : 0;
        display: flex;
    }

    .menu_box .m_box .m_header .m_h_event .m_lan {
        width : 65%;
        height : 100%;
        display: flex;
        align-items: center;
    }

    .menu_box .m_box .m_header .m_h_event .m_lan > p {
        position: relative;
        transform: translate(50%);
    }

    .menu_box .m_box .m_header .m_h_event .m_lan > p::after {
        position: absolute;
        content : "";
        width : 0.6rem;
        height : 0.6rem;
        top : 50%;
        transform: translateX(100%) translateY(-50%) rotate(45deg);
        border-bottom : 1px solid black;
        border-right : 1px solid black;
        box-sizing: border-box;
    }

    .menu_box .m_box .m_header .m_h_event .close {
        position: relative;
        width : 35%;
        height : 100%;
    }

    .menu_box .m_box .m_header .m_h_event .close > span {
        display : block;
        position: absolute;
        width : 70%;
        height : 2px;
        top : 50%;
        left : 50%;
        background-color: #000;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .menu_box .m_box .m_header .m_h_event .close > span:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .menu_box .m_box .m_logo {
        width : 100%;
        height : 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_box .m_box .m_logo .mgo {
        display: inline-block;
        background-position: 0 -80px;
        width: 86px;
        height: 38px;
        background-image: url(img/img_group2.png);
        background-size: 379px 340px;
    }

    .menu_box .m_box .mo_ol {
        width : 100%;
        overflow: scroll;

    }

    .menu_box .m_box .mo_ol .mo_ul {
        width : 100%;
        border-top : 1px solid #eee;
        box-sizing: border-box;
        font-size: 1rem;
        font-weight: 400;
        line-height: 8vh;
        /* display: flex; */
    }
    
    .menu_box .m_box .mo_ol .mo_ul .mo_ul_p {
        padding : 0 3%;
        box-sizing: border-box;
    }

    .menu_box .m_box .mo_ol .mo_ul .mo_ul_p.ulp_e {
        background-color: #A50034;
        color : #fff;
    }

    .menu_box .m_box .mo_ol .mo_ul .mo_dt {
        width : 100%;
        display: none;
    }

    .menu_box .m_box .mo_ol .mo_ul .mo_dt.dt_e {
        display: block;
    }

    .menu_box .m_box .mo_ol .mo_ul .mo_dt .mo_li {
        padding : 0 3%;
        box-sizing: border-box;
        line-height: 7vh;
        font-size: 0.9rem;
        background-color: #f5f5f5;
    }

    .menu_box .m_box .mo_ol .mo_ul .mo_dt .mo_li > p {
        border-bottom : 1px solid #eee;
        box-sizing: border-box;
    }

    .menu_box .m_box .mo_ol .mo_ul .mo_dt .mo_li:last-child > p {
        border : 0;
    }



    /* header end */


    /* page */
    .page_box {
        width : 100%;
        z-index: 0;
    }

    /* page1 */
    .page1 {
        position: relative;
        width : 100%;
        height : 80vh;
        background-color: lightblue;
    }

    .page1 .p1_row {
        position: absolute;
        top : 0;
        width : 15px;
        height : 100%;
        background-color: #fff;
        z-index: 1;
    }

    .page1 .p1_r {
        position: absolute;
        right :0;
    }

    .page1 .p1_imgbox {
        position: absolute;
        width : 100%;
        height : 100%;
        background-color: darkviolet;
        overflow: hidden;
    }

    .page1 .p1_imgbox .p1_img {
        position: absolute;
        min-width : 100%;
        min-height : 100%;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 1s;
    }

    .page1 .p1_imgbox .p1_img:nth-child(1) {
        opacity: 1;
    }

    .page1 .p1_textbox {
        position: absolute;
        bottom : 0;
        left : 50%;
        width : calc(100% - 30px);
        height : calc(100% - 8vh);
        transform: translateX(-50%);
        z-index: 1;
    }

    .page1 .p1_textbox .p1_img2 {
        position: absolute;
        width : 60%;
        transform: translateX(-100%);
        opacity: 0;
        transition: all 2s;
    }

    .page1 .p1_textbox .p1_img2:nth-child(2) {
        width : 30%;
        bottom : 0;
        right : 0;
        transform: translateY(100%);
    }

    /* page1 end*/

    /* page2 */
    .page2 {
        position: relative;
        width : 100%;
        height : 120vh;
        /* padding-top : 6vh;
        box-sizing: border-box; */
    }

    .page2 .con2{
        position: absolute;
        width : calc(100% - 30px);
        height : 115vh;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        gap : 1.5% 0;
        display: flex;
        flex-wrap: wrap;
    }

    .page2 .con2 .p2_con1 {
        width : 100%;
        height : 11%;
        font-size: 2.5rem;
        font-weight: 700;
        display: flex;
        align-items: center;
    }

    .page2 .con2 .p2_con1 > p {
        position: relative;
    }

    .page2 .con2 .p2_con1 > p::after {
        position: absolute;
        content : "";
        width : 13px;
        height : 13px;
        background-color: #A50034;
        border-radius: 100%;
        bottom : 0;
    }

    .page2 .con2 .p2_con2 {
        width : 100%;
        height : 50%;
        display: flex;
        flex-wrap: wrap;

    }

    .page2 .con2 .p2_con2 > li {
        /* width : 100%;
        height : calc(50% - 2%);
        list-style: none;
        background-color: palegoldenrod;
        align-self: flex-start; */
        position: relative;
        width : 100%;
        height : calc(50% - 2%);
        list-style: none;
        background-color: palegoldenrod;
        align-self: flex-start;
        /* 디자인 */
        overflow: hidden;
        color : #fff;
        /* 디자인 */
    }

    .page2 .con2 .p2_con2 > li:nth-child(2) {
        width : 100%;
        height : calc(50% - 2%);
        align-self: flex-end;
    }

    .page2 .con2 .p2_con3 {
        position: relative;
        width : 100%;
        height : 35%;
    }

    .page2 .con2 .p2_con3 .p2_c3_arr{
        position: absolute;
        width : 30px;
        height : 50px;
        background-color: lawngreen;
        top : 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    

    .page2 .con2 .p2_con3 .p2_c3_arr:nth-child(2){
        right : 0;
    }

    /* 2페이지 슬라이드 이벤트 css */
    .page2 .con2 .p2_con3 .p2_slide {
        width : 100%;
        height : 90%;
        overflow: hidden;
    }

    .page2 .con2 .p2_con3 .p2_slide .p2_ol {
        position: relative;
        width : 600%;
        height : 100%;
        display: flex;
        left : 0;
    }

    .page2 .con2 .p2_con3 .p2_slide .p2_ol.ol_tr { /*add*/
        transition: all 0.5s;
    }

    .page2 .con2 .p2_con3 .p2_slide .p2_ol .p2_ul {
        width : calc(100% / 3);
        height : 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .page2 .con2 .p2_con3 .p2_slide .p2_ol .p2_ul .p2_dt {
        width : 50%;
        height : 100%;
        display: flex;
        flex-wrap: wrap;
        gap : 0 1%;
    }

    .page2 .con2 .p2_con3 .p2_slide .p2_ol .p2_ul .p2_li {
        /* width : calc(100% / 2 - 0.5%);
        height : 100%;
        border: 1px solid black;
        box-sizing: border-box; */

        width : calc(100% / 2 - 0.5%);
        height : 100%;
        border: 1px solid #ddd;
        box-sizing: border-box;
        /* 디자인 */
        display: flex;
        flex-wrap: wrap;
        /* 디자인 */
    }



    /* 2페이지 슬라이드 이벤트 css 종료*/

    .page2 .con2 .p2_con3 .p2_count {
        width : 100%;
        height : 10%;
    }

    .page2 .con2 .p2_con3 .p2_count .p2_sbox {
        height : 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 0 10px;

    }

    .page2 .con2 .p2_con3 .p2_count .p2_sbox > span {
        width : 15px;
        height : 15px;
        border-radius: 100%;
        background-color: #CCCCCC;
    }

    .page2 .con2 .p2_con3 .p2_count .p2_sbox > span.span_event{
        background-color: #A50034;
    }

    .page2 .con2 .p2_con3 .p2_count .p2_sbox .p2_m_span {
        display: block;
    }
    .page2 .p2_left_bar {
        position: absolute;
        width : 80px;
        height : 80vh;
        top : 50%;
        transform: translateY(-50%);
        background-color: blue;
        display: none;
    }


    /* page2 end*/
/* page3 */
.page3 {
    position: relative;
    width : 100%;
    height : 70vh;
}

.page3 .con3 {
    position: absolute;
    width : calc(100% - 30px);
    height : 65vh;
    top : calc(50% + 3vh);
    left : 50%;
    transform: translate(-50%, -50%);

}

.page3 .con3 .p3_c1 {
    width : 100%;
}

.page3 .con3 .p3_c1 > h1 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom : 5%;
}

.page3 .con3 .p3_c1 > h1::after {
    position: absolute;
    content : "";
    width : 13px;
    height : 13px;
    background-color: #A50034;
    bottom : 0;
    border-radius: 100%;
    margin-left : 1%;
}

.page3 .con3 .p3_c1 > h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3rem;
}

.page3 .con3 .p3_c2 {
    position: absolute;
    width : 100%;
    height : 70%;
    bottom : 5%;
    overflow: hidden;
}

.page3 .con3 .p3_c2 .p3_c2_ul {
    width : 400%;
    height : 100%;
    display: flex;
    flex-wrap: wrap;
}

.page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li {
    width : calc(100% / 4);
    height : 100%;
    /* 디자인 */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color : #fff;
    /* 디자인 */
}

.page3 .con3 .p3_span {
    position: absolute;
    display : flex;
    /* width : 100%; */
    /* height : 3.2vh; */
    left : 50%;
    transform: translateX(-50%);
    bottom : 1%;
    justify-content: center;
    gap: 0 10px;

}

.page3 .con3 .p3_span > span {
    width : 15px;
    height : 15px;
    border-radius: 100%;
    background-color: #CCCCCC;
}

.page3 .p3_left_bar {
    position: absolute;
    width : 80px;
    height : 70vh;
    top : 50%;
    transform: translateY(-50%);
    border-right : 1px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    display : none;
}
/* page3 end */


.page4 {
    position: relative;
    width : 100%;
    height : 150vh;
}

.page4 .con4 {
    position: absolute;
    width : calc(100% - 30px);
    height : 130vh;
    top : 45%;
    left : 50%;
    transform: translate(-50%, -50%);

}

.page4 .con4 .p4_con1 {
    width : 100%;
    height : 11%;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.page4 .con4 .p4_con1 > p {
    position: relative;
}

.page4 .con4 .p4_con1 > p::after {
    position: absolute;
    content : "";
    width : 13px;
    height : 13px;
    border-radius: 100%;
    background-color: #A50034;
    bottom : 0;
}

.page4 .con4 .p4_con2 {
    width : 100%;
    height : 89%;
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap : 20px;
}

.page4 .con4 .p4_con2 .p4_c2_item {
    /* 디자인 */
    position: relative;
    overflow: hidden;
    /* 디자인 */
}

.page4 .con4 .p4_con2 .p4_c2_item:nth-child(1) {
    grid-row : 1/3;
    grid-column: 1/3;
}

.page4 .con4 .p4_con2 .p4_c2_item:nth-child(2) {
    grid-row : 3/5;
    grid-column : 1/2;
}

.page4 .con4 .p4_con2 .p4_c2_item:nth-child(3) {
    grid-row : 3/5;
    grid-column : 2/3;
}

.page4 .con4 .p4_con2 .p4_c2_item:nth-child(6) {
    grid-column: 1/3;
 
}

.page4 .p4_left_bar {
    position: absolute;
    width : 80px;
    height : 70vh;
    top : 50%;
    transform: translateY(-50%);
    border-right : 1px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    display : none;
}

/* page end*/


/* aside */

aside {
    position: fixed;
    top : 0;
    right : 0;
    width : 4.5%;
    height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display : none;
}

aside .count_box {
    width : 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    display : none;
}

aside .count_box .cbox{
    display: block;
    width : 15px;
    height : 15px;
    border-radius: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}

aside .count_box .cbox:nth-child(1){
    background-color: #000;
}
/* aside end*/

    /* 디자인 관련 시작 */

    footer {
        position: absolute;
        width : 100%;
        height : 10vh;
        bottom : 0;
        opacity: 1;
        z-index : 200;
        border-top : 1px solid #555;
        box-sizing: border-box;
        /* display: none; */
        background-color: #fff;
    }

    footer .f_box {
        width : 95%;
        height : 100%;
        margin : 0 auto;
        display: flex;
        justify-content: space-between;
    }

    footer .f_l {
        width : 50%;
        height : 100%;
        display: flex;
        align-items: center;
    }
    
    footer .f_l .f_l_1 {
        width : calc(100% / 3);
        height : 100%;
        display: flex;
        align-items: center;
    }

    footer .f_l .f_l_1 .flogo {
        width: 56px;
        height: 25px;
        background-position: -152px -201px;
        background-image: url(img/img_group2.png);
        background-size: 379px 340px;
        
    }
    
    footer .f_l .f_l_2 {
        width : calc(100% / 3 * 2 );
        height : 70%;
    }
    
    footer .f_l .f_l_2 .flt{
        width : 100%;
        height : 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7rem;  
        color : #555;
    }

    footer .f_l .f_l_2 .flt:nth-child(1){
        width : 70%;
        height : 50%;
        color : #000;
    }

    footer .f_r {
        width : 10%;
        height : 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .f_r > img {
        width : 56px;
        height : 37px;
    }

            /* footer 종료 */

    /* 2페이지 디자인 */

    .page2 .con2 .p2_con2 > li > img {
        position: absolute;
        min-width : 100%;
        min-height : 100%;
        top : 60%;
        left : 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .page2 .con2 .p2_con2 > li .txt {
        position: absolute;
        padding : 30px 25px;
        box-sizing: border-box;
        z-index: 3;
        bottom : 0;
        line-height: 1.2rem;
    }

    .page2 .con2 .p2_con2 > li .txt > h1{
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 2.3rem;
    }

    .page2 .con2 .p2_con2 > li .txt > p:nth-child(2){
        margin-top : 20px;
    }

    .page2 .con2 .p2_con2 > li:nth-child(2) .txt > p{
        color : #fff;
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 1.2rem;
    }

    .page2 .con2 .p2_con2 > li:nth-child(2) .txt {
        padding : 20px 25px;
        box-sizing: border-box;
    }

    .page2 .con2 .p2_con2 > li .back_box {
        position: absolute;
        width : 100%;
        height : 100%;
        background: linear-gradient( to bottom, rgba(0,0,0,0) 65%, black);
        z-index: 2;
    }

    /* p2 슬라이드 */

    .page2 .con2 .p2_con3 .p2_slide .p2_ol .p2_ul .p2_li:hover .p2_li_ibox > img{
        transform: translate(-50%, -50%) scale(1.15);
    }

    .page2 .con2 .p2_con3 .p2_slide .p2_ol .p2_ul .p2_li .p2_li_ibox {
        position: relative;
        width : 100%;
        height : 58%;
        overflow: hidden;
    }
    .page2 .con2 .p2_con3 .p2_slide .p2_ol .p2_ul .p2_li .p2_li_ibox > img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        transition: all 0.75s;
    }

    .page2 .con2 .p2_con3 .p2_slide .p2_ol .p2_ul .p2_li .p2_li_txt {
        position: relative;
        width : 100%;
        height : 42%;
        padding : 10px;
        box-sizing: border-box;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-overflow: ellipsis;
    }
    .page2 .con2 .p2_con3 .p2_slide .p2_ol .p2_ul .p2_li .p2_li_txt > h1 {
        color : #A50034;
        margin-bottom : 5%;
        
    }
    
    .page2 .con2 .p2_con3 .p2_slide .p2_ol .p2_ul .p2_li .p2_li_txt > p {
        text-overflow: ellipsis; /*이후 컨텐츠는 가림*/
        white-space: normal;
        overflow: hidden;
        height: 50px;
        -webkit-line-clamp: 2; /*블록 컨테이너의 콘텐츠를 지정한 줄 수만큼으로 제한합니다*/
        display: -webkit-box; 
        -webkit-box-orient: vertical; /*박스의 흐름의 방향을 지정합니다 vertical: 수직*/
    }


    /* page3 */

    .page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li:nth-child(1) {
        background-image: url(img/p3/p3m1.jpg);

    }

    .page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li:nth-child(2) {
        background-image: url(img/p3/p3m2.jpg);

    }

    .page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li:nth-child(3) {
        background-image: url(img/p3/p3m3.jpg);

    }

    .page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li:nth-child(4) {
        background-image: url(img/p3/p3m4.jpg);
    }

    .page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li .p3_txt {
        position: absolute;
        width : 100%;
        height : 100%;
        padding : 60px 25px;
        box-sizing: border-box;
    }

    .page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li .p3_txt > p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li .p3_txt > h3{
        font-size: 1.5rem;
        margin-top : 10px;
        line-height: 1.8rem;
        font-weight: 700;
    }

    .page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li .p3_txt > input{
        position: absolute;
        border : 1px solid #fff;
        box-sizing: border-box;
        color : #fff;
        font-size: 1rem;
        padding : 5px 11px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0);
        top : 60%;
        transform: translateY(-50%);
    }

    .page3 .con3 .p3_c2 .p3_c2_ul .p3_c2_li:hover .p3_txt > input {
        border : 0;
        background-color: #A50034;
    }

    /* page4 */

    .page4 .con4 .p4_con2 .p4_c2_item > img {
        position: absolute;
        min-width : 100%;
        min-height: 100%;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        transition: all 0.75s;
        z-index: 1;
    }

    .page4 .con4 .p4_con2 .p4_c2_item:hover >img {
        transform: translate(-50%, -50%) scale(1.15);
    }

    .page4 .con4 .p4_con2 .p4_c2_item:nth-child(6) > img {
        top : 0;
        left : 0;
        transform: translate(0);
    }

    .page4 .con4 .p4_con2 .p4_c2_item:nth-child(2) > img {
    }

    .page4 .con4 .p4_con2 .p4_c2_item:nth-child(3) > img {
    }

    .page4 .con4 .p4_con2 .p4_c2_item .p4_back {
        position: absolute;
        width : 100%;
        height : 100%;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8));
    }

    .page4 .con4 .p4_con2 .p4_c2_item .p4_txt {
        position: absolute;
        z-index: 3;
        color : #fff;
        bottom : 0;
        padding : 15px 15px;
        box-sizing: border-box;
    }

    .page4 .con4 .p4_con2 .p4_c2_item .p4_txt > h1 {
        position: relative;
        display : inline-block;
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom : 10px;
        box-sizing: border-box;
    }

    .page4 .con4 .p4_con2 .p4_c2_item .p4_txt > h1::after {
        position: absolute;
        content : "";
        width : 1rem;
        height : 1rem;
        top : 50%;
        transform: translateY(-50%) rotate(45deg);
        border-right : 2px solid #fff;
        border-top : 2px solid #fff;
        box-sizing: border-box;
    }

}