@media screen and (min-width : 1024px){
    /* .header {
        position: fixed;
        width : 25%;
        height : 100vh;
        padding-left : 60px;
    }
    
    .header .pro {
        position: relative;
        width : 100%;
        top : 50%;
        transform: translateY(-50%);
        display: flex;
        gap : 0 30px;
        flex-wrap: wrap;
        align-items: center;
        padding : 15px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.5);

    }
    
    .header .pro  .pro_img {
        position: relative;
        width : 90px;
        height : 90px;
        border-radius: 100%;
        overflow: hidden;
    }
    
    .header .pro .pro_img > img {
        position: absolute;
        width : 100%;
    }
    
    .header .pro .pro_txt {
        font-family: na;
        font-weight: 700;
    }   
    
    .header .pro .pro_txt > h1 {
        font-size: 2rem;
        line-height: 3rem;
    }
    
    .header .pro .pro_txt > p {
        font-size: 1.3rem;
    }
    
    .h_pbox {
        width : 100px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right : 0;
        gap : 50px 0;
        top : 50%;
        transform:  translate(100%,-50%);
    } 
    
    .h_pbox > input {
        position: relative;
        width : 80px;
        height : 30px;
        border : 0;
        font-family: ne;
        font-size: 1.2rem;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.5s;
        font-weight: 700;
        cursor: pointer;
    }
    
    .h_pbox > input:nth-child(1).h_E {
        background: linear-gradient(to top, rgba(0,0,0,0) 10%, #CD69A7 10%);
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .h_pbox > input:nth-child(2).h_E {
        background: linear-gradient(to top, rgba(0,0,0,0) 10%, #FFFFB5 10%);
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .h_pbox > input:nth-child(3).h_E {
        background: linear-gradient(to top, rgba(0,0,0,0) 10%, #A3B5FD 10%);
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .info {
        width : 100%;
        height : 100%;
        font-family: ne;
        margin-top : 50px;
    }
    
    .info > p {
        position: relative;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    
    .info > p::before {
        position: absolute;
        content : '';
        width : 5px;
        height : 5px;
        background-color: black;
        border-radius: 100%;
        top : 50%;
        transform: translate(-150%, -50%);
    }
    
    .info > p:nth-child(5):before {
        top : 20%;
        transform: translateX(-150%);
    }
    
    .info .mail {
        margin-top : 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .info .mail > a {
        line-height: 2.5rem;
    }
    .info .mail > a > em {
        color : black;
        font-size: 1.1rem;
    }
    .info .mail > p {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
    
    .info .mail > p:last-child {
        margin-top : 40px;
    }
    
    */
    
}

@media screen and (max-width : 1300px) {
    /* .header .pro .pro_txt {
        font-family: na;
        font-weight: 700;
    }   
    
    .header .pro .pro_txt > h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top : 10px;
    }
    
    .header .pro .pro_txt > p {
        font-size: 1rem;
    } */
}


@media screen and (max-width : 1023px) {
    /* .header {
        position: relative;
        width : 100%;
        top : 0;
        font-family: ne;
        transition: all 0.5s;
        height : 80px;
        z-index: 100;
    }
    
    .header .pro {
        position: relative;
        width : 100%;
        display: flex;
        flex-direction: column;
        gap : 0 10px;
        flex-wrap: wrap;
        align-items: center;
        align-items: flex-start;
        padding : 10px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.0);
    }

    .header .pro .plbox {
        width : 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .header .pro .plbox .pro_img {
        position: relative;
        width : 60px;
        height : 60px;
        border-radius: 100%;
        overflow: hidden;
    }

    .header .pro .plbox .pro_img > img {
        position: absolute;
        width : 100%;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
    }


    .header .pro .plbox .pro_txt > h1 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .h_pbox {
        position: absolute;
        width : 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap : 0 10px;
        transition: all 0.25s;
    }

    .h_pbox.hp_E2 {
        transition: all 0s;
        position: fixed;
        top : 0;
        background: rgba(255, 255, 255, 0.3);
    }

    .h_pbox > input {
        position: relative;
        width : 80px;
        height : 25px;
        border : 0;
        font-family: ne;
        font-size: 0.9rem;
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.5s;
        font-weight: 700;
        cursor: pointer;
    }
    
    .h_pbox > input:nth-child(1).h_E {
        background: linear-gradient(to top, rgba(0,0,0,0) 10%, #CD69A7 10%);
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .h_pbox > input:nth-child(2).h_E {
        background: linear-gradient(to top, rgba(0,0,0,0) 10%, #FFFFB5 10%);
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .h_pbox > input:nth-child(3).h_E {
        background: linear-gradient(to top, rgba(0,0,0,0) 10%, #A3B5FD 10%);
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    } */

    
    
}

@media screen and (max-width : 280px) { /* 폴드 대응 */
    
    /* .header .pro .pro_img {
        position: relative;
        width : 50px;
        height : 50px;
        border-radius: 100%;
        overflow: hidden;
    }

    .header .pro .pro_txt {
        font-family: na;
        font-weight: 700;
    }   
    
    .header .pro .pro_txt > h1 {
        font-size: 1rem;
        line-height: 2rem;
    }
    
    .header .pro .pro_txt > p {
        font-size: 0.8rem;
    } */
}





